
<div class="threat-model-editor">
<svg id="graphContainer"
      width="100%"
      height="100%"
      class="associations"
      #graphContainer>
</svg>
  <div id="toolbox">
    <input type="file" id="hidden-file-upload">
    <input id="upload-input" type="image" title="upload graph" src="upload-icon.png" alt="upload graph">
    <input type="image" id="download-input" title="download graph" src="download-icon.png" alt="download graph">
    <input type="image" id="delete-graph" title="delete graph" src="trash-icon.png" alt="delete graph"> 
  </div>
</div>

