
#overview {
    width: 1052px;
    height: 744px;
    background-image: url("/assets/threat-model.png");
    border: 1px solid black;
    padding: 0px;
    position: relative;
}

#production {
    width: 1052px;
    height: 744px;
    background-image: url("/assets/threat-model-prod.png");
    border: 1px solid black;
    padding: 0px;
    position: relative;
}

#gsuite-threat-email {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 110px;
    left: 285px;
    margin: 0px;
}

#internet-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 185px;
    left: 285px;
    margin: 0px;
}

#gsuite-threat-auth {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 30px;
    left: 290px;
    margin: 0px;
}

#research-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 73px;
    left: 480px;
    margin: 0px;
}

#office-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 395px;
    left: 860px;
    margin: 0px;
}

#payment-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 660px;
    left: 105px;
    margin: 0px;
}

#prod-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 600px;
    left: 310px;
    margin: 0px;
}

#it-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 645px;
    left: 520px;
    margin: 0px;
}

#prod-payment-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 660px;
    left: 105px;
    margin: 0px;
}

#prod-flyte-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 115px;
    left: 765px;
    margin: 0px;
}

#prod-accumulo-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 540px;
    left: 810px;
    margin: 0px;
}

.threat .risks {
    height: 2.0em;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.threat .description {
    font-size: small;
}

#link-to-prod {
    position: absolute;
    top: 420px;
    left: 290px;
    width: 220px;
    height: 140px;
}

A.risk {
    white-space: nowrap;
    height: 2.0em;
    padding: 0px;
    color: white;
    overflow: hidden;
    margin: 0px;
    display: block;
    text-decoration: none;
}

a.risk:hover {
    background-color: #ccc;
    color: #6080a0;
}

.risk.category0 {
    background-color: #4b3f72;
}

.risk.category1 {
    background-color: #119da4;
}

.risk.category2 {
    background-color: #19647e;
}

.risk.category3 {
    background-color: #804028;
}

.risk.category4 {
    background-color: #408028;
}

.risk.category5 {
    background-color: #a04060;
}

.risk.category6 {
    background-color: #c08020;
}

.risk.category7 {
    background-color: #2080c0;
}

.risk.category8 {
    background-color: #80a020;
}

.risk.category9 {
    background-color: #4040a0;
}

.bottom {
    padding: 10px;
    clear: left;
}
