
<h2>Threat Model</h2>

<mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedTabIndex">

  <mat-tab label="Overview">

    <div id="overview" class="threatmodel">
      <ng-container *ngFor="let threat of threats">
	<div class="threat" id="{{threat.element}}"
	     *ngIf="threat.partition == 'overview'">
	  <div class="risks">
	    <a *ngFor="let risk of threat.risks"
	       class="risk {{nameToCssClass(risk.id)}}"
	       style="width: {{risk.score * 98}}px"
	       [routerLink]="['/category', risk.id]"
	       queryParamsHandling="preserve">
	      {{risk.id}}
	    </a>
	  </div>
	  <div class="description">{{threat.description}}</div>
	</div>
      </ng-container>
 
      <a id="link-to-prod" [routerLink]="['/threat-model', 'prod']"
	 queryParamsHandling="preserve">
      </a>

   </div>

  </mat-tab>

  <mat-tab label="Production">

    <div id="production" class="threatmodel">
      <ng-container *ngFor="let threat of threats">
	<div class="threat" id="{{threat.element}}"
	     *ngIf="threat.partition == 'production'">
	  <div class="risks">
	    <a *ngFor="let risk of threat.risks"
	       class="risk {{nameToCssClass(risk.id)}}"
	       style="width: {{risk.score * 98}}px"
	       [routerLink]="['/category', risk.id]"
	       queryParamsHandling="preserve">
	      {{risk.id}}
	    </a>
	  </div>
	  <div class="description">{{threat.description}}</div>
	</div>
      </ng-container>
    </div>

  </mat-tab>

</mat-tab-group>

<div class="bottom">
  <button (click)="goBack()">go back</button>
</div>

