
#threatmodel {
    width: 1052px;
    height: 754px;
    background-image: url("/assets/threat-model.png");
    border: 1px solid black;
    padding: 0px;
    position: relative;
}

#gsuite-threat-email {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 135px;
    left: 330px;
    margin: 0px;
}

#gsuite-threat-auth {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 30px;
    left: 290px;
    margin: 0px;
}

#research-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 40px;
    left: 480px;
    margin: 0px;
}

#office-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 225px;
    left: 930px;
    margin: 0px;
}

#payment-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 650px;
    left: 90px;
    margin: 0px;
}

#prod-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 600px;
    left: 310px;
    margin: 0px;
}

#it-threat {
    width: 100px;
    height: 2em;
    position: absolute;
    border: 1px solid black;
    top: 600px;
    left: 520px;
    margin: 0px;
}

.threat .risks {
    height: 2.0em;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.threat .description {
    font-size: small;
}

A.risk {
    white-space: nowrap;
    height: 2.0em;
    padding: 0px;
    color: white;
    overflow: hidden;
    margin: 0px;
    display: block;
    text-decoration: none;
}

a.risk:hover {
    background-color: #ccc;
    color: #6080a0;
}

.risk.category0 {
    background-color: #4b3f72;
}

.risk.category1 {
    background-color: #119da4;
}

.risk.category2 {
    background-color: #19647e;
}

.risk.category3 {
    background-color: #804028;
}

.risk.category4 {
    background-color: #408028;
}

.risk.category5 {
    background-color: #a04060;
}

.risk.category6 {
    background-color: #c08020;
}

.risk.category7 {
    background-color: #2080c0;
}

.risk.category8 {
    background-color: #80a020;
}

.risk.category9 {
    background-color: #4040a0;
}
