
@import '~@angular/material/theming';

@mixin category-detail-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    category-detail {

	.threats {
	}

	.threat {
	    display: flex;
	    padding: 0;
	    margin: 0.4em;
	    float: left;
	    text-decoration: none;
	}

	.threat * {
	    padding: 0.4em;
	    margin: 0;
	}

	.threat .kind {
	    color: white;
	    border-radius: 4px 0 0 4px;
	    background: #404040;
	}

	.threat .id {
	    border-radius: 0 4px 4px 0;
	    border: 1px solid #808080;
	    background: #c0c0c0;
	    color: black;
	}

	.threat .age {
	    color: black;
	}

	.threat .kind.device {
	    background: #1f2041;
	}

	.threat .id.device {
	    border: 1px solid #1f2041;
	    background: #cfd0f1;
	    font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
	    font-size: 0.9em;
	}

	.threat .kind.resource {
	    background: #119da4;
	}

	.threat .id.resource {
	    border: 1px solid #119da4;
	    background: #b1ede4;
	    font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
	    font-size: 0.9em;
	}

	.bottom {
	    padding: 10px;
	    clear: left;
	}

	.threat a:hover {
	    color:  #ffffff;
	}

	.threat:hover .kind {
	    color: #6080a0;
	    background-color: #ccc;
	}

	.threat:hover .id {
	    color: #6080a0;
	    background-color: #ccc;
	    border: 1px solid #888;
	}

	.threat:hover .age {
	    color: #6080a0;
	}

    }

}
