
.threats {
}

.threat {
    display: flex;
    padding: 0;
    margin: 0.4em;
    float: left;
    text-decoration: none;
}

.threat * {
    padding: 0.4em;
    margin: 0;
}

.threat .kind {
    color: white;
    border-radius: 4px 0 0 4px;
    background: #404040;
}

.threat .id {
    border-radius: 0 4px 4px 0;
    border: 1px solid #808080;
    background: #c0c0c0;
    color: black;
}

.threat .age {
    color: black;
}

.threat .kind.device {
    background: #1f2041;
}

.threat .id.device {
    border: 1px solid #1f2041;
    background: #cfd0f1;
}

.threat .kind.resource {
    background: #119da4;
}

.threat .id.resource {
    border: 1px solid #119da4;
    background: #b1ede4
}

.bottom {
    margin: 10px;
    clear: left;
}
