
@import '@angular/material/theming';

@mixin category-detail-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    category-detail {

	.threats {

	    .threat .kind {
		color: white;
		background: #404040;
	    }

	    .threat .id {
		border-color: #808080;
		background: #c0c0c0;
		color: black;
	    }

	    .threat .age {
		color: black;
	    }

	    .threat .kind.device {
		background: #1f2041;
	    }

	    .threat .id.device {
		border-color: #1f2041;
		background: #cfd0f1;
		/*
		font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
		font-size: 0.9em;
*/
	    }

	    .threat .kind.resource {
		background: #119da4;
	    }

	    .threat .id.resource {
		border-color: #119da4;
		background: #b1ede4;
		/*
		font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
		font-size: 0.9em;
*/
	    }

	    .threat a:hover {
		color:  #ffffff;
	    }

	    .threat:hover .kind {
		color: #6080a0;
		background-color: #ccc;
	    }

	    .threat:hover .id {
		color: #6080a0;
		background-color: #ccc;
		border-color: #888;
	    }

	    .threat:hover .age {
		color: #6080a0;
	    }
	}
	
    }

}
