<h2>{{id}}</h2>

<mat-expansion-panel [expanded]=false>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Event detail
    </mat-panel-title>
    <mat-panel-description>
      {{eventsTotal}} events
    </mat-panel-description>
  </mat-expansion-panel-header>
  <event-filter></event-filter>
  <event-table></event-table>
</mat-expansion-panel>

<mat-expansion-panel [expanded]=true>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Threat observations
    </mat-panel-title>
    <mat-panel-description>
      {{threatCount}} observations
    </mat-panel-description>
  </mat-expansion-panel-header>
  <seeds [seeds]="threats">
  </seeds>
</mat-expansion-panel>

<div class="bottom">
  <button (click)="goBack()">go back</button>
</div>

