
<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Risk categories">
    <div>

      <h2>Loss exceedence</h2>
      <canvas id="categoryloss" width="800" height="400"></canvas>
      <h2>Probability distribution</h2>
      <canvas id="categorypdf" width="800" height="400"></canvas>
      <h2>Risk distribution</h2>
      <canvas id="categoryrisk" width="800" height="400"></canvas>

    </div>

  </mat-tab>

  <mat-tab label="Device risks">
    <div>

      <h2>Loss exceedence</h2>
      <canvas id="deviceloss" width="800" height="400"></canvas>
      <h2>Probability distribution</h2>
      <canvas id="devicepdf" width="800" height="400"></canvas>
      <h2>Risk distribution</h2>
      <canvas id="devicerisk" width="800" height="400"></canvas>

    </div>
  </mat-tab>

  <mat-tab label="Resource risks">
    <div>

      <h2>Loss exceedence</h2>
      <canvas id="resourceloss" width="800" height="400"></canvas>
      <h2>Probability distribution</h2>
      <canvas id="resourcepdf" width="800" height="400"></canvas>
      <h2>Risk distribution</h2>
      <canvas id="resourcerisk" width="800" height="400"></canvas>

    </div>
  </mat-tab>

</mat-tab-group>
