<!--
<mat-tab-group> mat-align-tabs="start">

  <mat-tab label="Risk categories">
-->
    <div>
      <h2>Risk types</h2>
      <div *ngIf="categoryReport['distribution'] == ''">
	<i>No risks to report.</i>
      </div>
      <div *ngIf="categoryReport['distribution'] != ''">
	<img class="fair" src="{{categoryReport['distribution']}}">
	<img class="fair" src="{{categoryReport['exceedence']}}">
      </div>
    </div>
<!--
  </mat-tab>

  <mat-tab> label="Device risks">
-->
    <div>
      <h2>Device risks</h2>
      <div *ngIf="model.devices.length == 0">
	<i>No risks to report.</i>
      </div>
      <div *ngIf="model.devices.length > 0">
	<img class="fair" src="{{deviceReport['distribution']}}">
	<img class="fair" src="{{deviceReport['exceedence']}}">
      </div>
    </div>
<!--
  </mat-tab>

  <mat-tab label="Resource risks">
-->
    <div>
      <h2>Resource risks</h2>
      <div *ngIf="model.resources.length == 0">
	<i>No risks to report.</i>
      </div>
      <div *ngIf="model.resources.length > 0">
	<img class="fair" src="{{resourceReport['distribution']}}">
	<img class="fair" src="{{resourceReport['exceedence']}}">
      </div>
    </div>
<!--
  </mat-tab>

</mat-tab-group>
-->
