
@import '~@angular/material/theming';

@mixin all-threats-component-theme($theme) {

    all-threats {

	.threats {

	    .threat {

		.kind {
		    color: white;
		    background: #404040;
		}

		.kind.server {
		    background: #119da4;
		}

		.kind.ip {
		    background: #19647e;
		}

		.kind.device {
		    background: #804028;
		}

		.kind.domain {
		    background: #408028;
		}

		.kind.useragent {
		    background: #a04060;
		}

		.kind.hostname {
		    background: #c08020;
		}

		.id {
		    border-color: #808080;
		    background: #c0c0c0;
		    color: black;
		}

		.id.server {
		    border-color: #119da4;
		    background: #b1ede4
		}

		.id.ip {
		    border-color: #19647e;
		    background: #99c4fe;
		}

		.id.device {
		    border-color: #804028;
		    background: #f0c0b8;
		}

		.id.domain {
		    border-color: #408028;
		    background: #c0f0b8;
		}

		.id.useragent {
		    border-color: #a04060;
		    background: #f8d8e8;
		}

		.id.hostname {
		    border-color: #c08020;
		    background: #f8d880;
		}

		.age {
		    color: black;
		}

	    }

	    .threat a:hover {
		color:  #ffffff;
	    }

	    .threat:hover .kind {
		color: #6080a0;
		background-color: #ccc;
	    }

	    .threat:hover .id {
		color: #6080a0;
		background-color: #ccc;
		border-color: #888;
	    }

	    .threat:hover .age {
		color: #6080a0;
	    }
	    
	}

    }

}

