
.risk {
}

.risk div {
    float: left;
    padding: 10px;
    height: 3em;
}

.riskname {
    clear: left;
    width: 13em;
}

.selector {
    width: 16em;
}

.probability {
    width: 4em;
}

.fair {
    width: 3em;
}
