<body>
  <h1>Eventstream dashboard</h1>

  <!-- Top navigation buttons -->
  <nav>
    <a [routerLink]="['/dashboard']"
       queryParamsHandling="preserve">
      Dashboard
    </a>
    <a [routerLink]="['/risk']"
       queryParamsHandling="preserve">
      Risk reports
    </a>
    <a [routerLink]="['/all-threats']"
       queryParamsHandling="preserve">
      Emerging threats
    </a>
    <a [routerLink]="['/model']"
       queryParamsHandling="preserve">
      Risk configuration
    </a>
    <a [routerLink]="['/threat-model', 'overview']"
       queryParamsHandling="preserve">
      Threat model
    </a>
    <a href="/kibana">Kibana</a>
    <a href="/grafana">Metrics</a>
    <a href="/prometheus">Prometheus</a>
  </nav>

  <!-- Slider component -->
  <slider></slider>

  <!-- The router component drops different views here. -->
  <div>
    <router-outlet></router-outlet>
  </div>

</body>
