
@import '~@angular/material/theming';

@mixin event-detail-component-color($theme) {

    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $accent: map-get($config, accent);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    event-detail {

	.rowdetail {
	    border-color: mat-color($foreground);
	}

	.rowdetail div {
	    border-color: mat-color($background, card);
	}

	.field {
	    color: mat-color($primary, darker-contrast);
	    border-color: mat-color($primary, darker);
	    background: mat-color($primary, darker);
	}

	.value {
	    color: mat-color($primary, darker);
	    border-color: mat-color($primary, darker);
	    background: mat-color($background, card);
	}

	.rowdetail div:hover .field {
	    color: mat-color($accent, darker-contrast);
	    background-color: mat-color($accent);
	    border-color: #ccc;
	}

	.rowdetail div:hover .value {
	    color: mat-color($accent, darker-contrast);
	    background-color: mat-color($accent);
	    border-color: #ccc;
	}

    }

}

@mixin event-detail-component-typography($theme) {
    
    $config: mat-get-typography-config($theme);

    event-detail {
	font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
    }

}

@mixin event-detail-component-theme($theme) {
    $color: mat-get-color-config($theme);
    $typography: mat-get-typography-config($theme);
/*    @if $color != null {*/
	@include event-detail-component-color($color);
/*    }*/
	@include event-detail-component-typography($typography);
}

