
@import '~@angular/material/theming';

@mixin event-detail-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    event-detail {

	.rowdetail {
	    border-color: mat-color($foreground);
	}

	.rowdetail div {
	    border-color: mat-color($background, card);
	}

	.field {
	    color: mat-color($primary, darker-contrast);
	    border-color: mat-color($primary, darker);
	    background: mat-color($primary, darker);
/*
	    font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
*/
	}

	.value {
	    color: mat-color($primary, darker);
	    border-color: mat-color($primary, darker);
	    background: mat-color($background, card);
/*
	    font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
*/
	}

	.rowdetail div:hover .field {
	    color: mat-color($accent, darker-contrast);
	    background-color: mat-color($accent);
	    border-color: #ccc;
	}

	.rowdetail div:hover .value {
	    color: mat-color($accent, darker);
	    background-color: mat-color($background, card);
	    border-color: mat-color($accent);
	}

    }

}

