
@import '~@angular/material/theming';

@mixin event-table-component-theme($theme) {

    event-table {

	.mat-header-cell, .mat-cell {
	    overflow: hidden;
	    white-space: nowrap;
	    margin-right: 6px;
	    font-size: small;
	    font-family: "Roboto Mono", Consolas, Menlo, Courier, monospace;
	}

	.mat-cell {
	}

	.mat-row:hover {
	    background: whitesmoke;
	}

	.mat-table {
	    width: 98%;
	    margin-bottom: 2em;
	}

	.mat-column-time {
	    flex: 0 0 16em;
	}

	.mat-column-action {
	    flex: 0 0 16em;
	}

	.mat-column-indicators-category {
	    flex: 0 0 12em;
	}

	.mat-column-action.trigger_up {
	    color: #808040;
	}

	.mat-column-action.unrecognised_stream {
	    color: #408080;
	}

	.mat-column-action.unrecognised_datagram {
	    color: #408080;
	}

	.mat-column-action.tls_change_cipher_spec {
	    color: #904030;
	}

	.mat-column-action.tls_application_data {
	    color: #904030;
	}

	.mat-column-action.tls_client_hello {
	    color: #904030;
	}

	.mat-column-action.tls_server_hello {
	    color: #904030;
	}

	.mat-column-action.dns_message {
	    color: #a02040;
	}

	.mat-column-action.ntp_timestamp {
	    color: #40a020;
	}

	.mat-column-action.http_request {
	    color: #4020a0;
	}

	.mat-column-action.http_response {
	    color: #4020a0;
	}

	.mat-column-action.icmp_message {
	    color: #6060c0;
	}

    }

}

