
<mat-table
  class="mat-elevation-z8"
  [dataSource]="dataSource"
  matSort matSortActive="time" matSortDirection="asc" matSortDisableClear>

  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row['time']}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row['action']}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"
	   (click)="onRowClicked(row)">
  </mat-row>

</mat-table>

<mat-paginator [length]="page.total" [pageSize]="pageSize">
</mat-paginator>

