
@import '~@angular/material/theming';

@mixin resource-risk-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    resource-risk {

	.targets {
	    list-style-type: none;

	    li {
		margin: 0.4em;
	
		.target {
		    display: flex;
		    margin: 0;
		    
		    a {
			text-decoration: none;
		    }

		    .score {
			border: 1px solid mat-color($primary, darker);
			margin: 0;
			background-color: mat-color($primary);
			color: mat-color($primary, darker-contrast);
			padding: 0.6em;
			border-radius: 4px 0 0 4px;
			height: 1.4em;
		    }

		    .score:hover {
			color: mat-color($accent, darker-contrast);
			background-color: mat-color($accent);
			border: 1px solid mat-color($accent, darker);
		    }

		    .name {
			border: 1px solid mat-color($primary, darker);
			margin: 0;
			background-color: mat-color($background, card);
			color: mat-color($primary, darker);
			padding: 0.6em;
			width: 20em;
			height: 1.4em;
			overflow: hidden;
		    }

		    .name:hover {
			color: mat-color($accent, darker-contrast);
			background-color: mat-color($accent);
			border: 1px solid mat-color($accent, darker);
		    }

		    .risks {
			margin: 0;
			padding: 0;
			width: 525px;
			display: flex;
		    
			.category {
			    border: 1px solid  mat-color($primary, darker);
			    background-color: mat-color($primary);
			    color:  mat-color($primary, darker-contrast);
			    margin-color: mat-color($primary, darker);
			    white-space: nowrap;
			    height: 1.4em;
			    padding: 0.6em;
			    overflow: hidden;
			    margin-left: 1px;
			    margin-right: 1px;
			    display: flex;
			}

			.category:hover {
			    color: mat-color($accent, darker-contrast);
			    background-color: mat-color($accent);
			    border: 1px solid mat-color($accent, darker);
			}

			.category0 {
			    background-color: mat-color($primary, 100);
			    border-color: mat-color($primary, 300);
			    color: mat-color($primary, 900);
			}

			.category1 {
			    background-color: mat-color($primary, 200);
			    border-color: mat-color($primary, 400);
			    color: mat-color($primary, 900);
			}
			
			.category2 {
			    background-color: mat-color($primary, 300);
			    border-color: mat-color($primary, 500);
			    color: mat-color($primary, 900);
			}
			
			.category3 {
			    background-color: mat-color($primary, 400);
			    border-color: mat-color($primary, 600);
			    color: mat-color($primary, 900);
			}
			
			.category4 {
			    background-color: mat-color($primary, 500);
			    border-color: mat-color($primary, 700);
			    color: mat-color($primary, 900);
			}
			
			.category5 {
			    background-color: mat-color($primary, 600);
			    border-color: mat-color($primary, 800);
			    color: mat-color($primary, 100);
			}
			
			.category6 {
			    background-color: mat-color($primary, 700);
			    border-color: mat-color($primary, 900);
			    color: mat-color($primary, 100);
			}
			
			.category7 {
			    background-color: mat-color($primary, 100);
			    border-color: mat-color($primary, 200);
			    color: mat-color($primary, 900);
			}
			
			.category8 {
			    background-color: mat-color($primary, 300);
			    border-color: mat-color($primary, 400);
			    color: mat-color($primary, 900);
			}
			
			.category9 {
			    background-color: mat-color($primary, 500);
			    border-color: mat-color($primary, 700);
			    color: mat-color($primary, 900);
			}

		    }
		}
	    }
	}

    }

}

