
@import '~@angular/material/theming';

@mixin resource-risk-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    resource-risk {
    }

}

