.targets {
    list-style-type: none;
}

.targets li {
    margin: 0.4em;
}

.target {
    display: flex;
    margin: 0;
}

.target a {
    text-decoration: none;
}

.score {
    border: 1px solid black;
    margin: 0;
    background-color: #405060;
    color: white;
    padding: 0.6em;
    border-radius: 4px 0 0 4px;
}

.name {
    border: 1px solid #999;
    background-color: #eee;
    margin: 0;
    padding: 0.6em;
    color: #405060;
    width: 20em;
    height: 1.4em;
    overflow: hidden;
}

.risks {
    margin: 0;
    padding: 0;
    width: 525px;
    display: flex;
}

.risks .category {
    border: 1px solid blue;
    white-space: nowrap;
    background-color: blue;
    height: 1.4em;
    padding: 0.6em;
    color: white;
    overflow: hidden;
    margin-left: 1px;
    margin-right: 1px;
    margin-color: white;
    display: flex;
}

.risks .category0 {
    background-color: #4b3f72;
    border: 1px solid #4b3f72;
}

.risks .category1 {
    background-color: #119da4;
    border: 1px solid #119da4;
}

.risks .category2 {
    background-color: #19647e;
    border: 1px solid #19647e;
}

.risks .category3 {
    background-color: #804028;
    border: 1px solid #804028;
}

.risks .category4 {
    background-color: #408028;
    border: 1px solid #408028;
}

.risks .category5 {
    background-color: #a04060;
    border: 1px solid #a04060;
}

.risks .category6 {
    background-color: #c08020;
    border: 1px solid #c08020;
}

.risks .category7 {
    background-color: #2080c0;
    border: 1px solid #2080c0;
}

.risks .category8 {
    background-color: #80a020;
    border: 1px solid #80a020;
}

.risks .category9 {
    background-color: #4040a0;
    border: 1px solid #4040a0;
}

.targets li .name:hover {
  color: #6080a0;
  background-color: #ccc;
}

.targets li .score:hover {
  color: #6080a0;
  background-color: #ccc;
  border: 1px solid #888;
}

.targets li .category:hover {
  color: #6080a0;
  background-color: #ccc;
  border: 1px solid #888;
}

