
.risk {
}

td {
    padding: 8px;
    border: 1px solid #e0e0e0;
}

.riskname {
    width: 30em;
}

.selector {
}

.probability {
    width: 4em;
    text-align: center;
}

.fair {
}

.fair .factor {
    font-weight: bold;
    color: #a08080;
}

.fair .value {
    color: #404040;
}

