
.risk {
}

td {
    padding: 8px;
    border: 1px solid #e0e0e0;
}

.riskname {
}

.selector {
}

.probability {
    width: 4em;
    text-align: center;
}

.fair.lef {
    width: 3em;
    text-align: center;
}

.fair.pl {
    width: 4em;
    text-align: center;
}

.fair.sl {
    width: 4em;
    text-align: center;
}

