
td {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
}

.riskname {
    width: 30em;
}

.selector {
}

.probability {
    width: 4em;
    text-align: center;
}

.fair {

    .factor {
	font-weight: bold;
    }

    .fair .value {
    }

}




