
@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes
$app-primary: mat-palette($mat-blue, 700, 100, 800);
$app-accent:  mat-palette($mat-blue-gray, 700, 100, 800);
$app-warn:    mat-palette($mat-red);

// Custom Sass colors vars
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

