
@import '@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes
$evs-app-primary: mat-palette($mat-blue, 700, 100, 800);
$evs-app-accent:  mat-palette($mat-blue-gray, 700, 100, 800);
$evs-app-warn:    mat-palette($mat-red);

// Custom Sass colors vars
$primary: mat-color($evs-app-primary);
$accent: mat-color($evs-app-accent);
$warn: mat-color($evs-app-warn);

$evs-typography: mat-typography-config(
    $font-family: 'Roboto, "Helvetica Neue", sans-serif'
/*    $font-family: '"Roboto Mono", Consolas, Menlo, Courier, monospace'*/
);

