
@import '~@angular/material/theming';

@mixin risk-summary-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    risk-summary {

	table, th, td {
	    border-color: mat-color($foreground);
	}

	th {
	    padding: 10px;
	    background-color: mat-color($primary, darker);
	    color: mat-color($primary, darker-contrast);
	}

	td.allrisks {
	    color: mat-color($accent, darker-contrast);
	    background-color: mat-color($accent, darker);
	}

    }

}

