
.number {
    text-align: right;
}

table, th, td {
    border: 1px solid #f0f0f0;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

th {
    background-color: #206020;
    color: white;
}

td.allrisks {
    font-size: large;
    background-color: #ffffe0;
}

.spinner-container {
    border-radius: 10px;
    left: 50%;
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(50, 50, 50, 0.1);
}

mat-spinner {
    position: absolute;
    transform: translate(-50%,-50%);
}

