<div *ngIf="summary.length > 0">
  <table>
    <thead>
      <tr>
	<th>Risk</th>
	<th>Min</th>
	<th>Max</th>
	<th>Mean</th>
	<th>Std-dev</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of summary">
	<td class="name {{asset.class}}">{{asset.name}}</td>
	<td class="number int {{asset.class}}">{{asset.min | currency:'':'symbol':'1.0-0'}}</td>
	<td class="number int {{asset.class}}">{{asset.max | currency:'':'symbol':'1.0-0'}}</td>
	<td class="number int {{asset.class}}">{{asset.mean | currency:'':'symbol':'1.0-0'}}</td>
	<td class="number float {{asset.class}}">{{asset.stddev | currency:'':'symbol':'1.0-0'}}</td>
      </tr>
    </tbody>
  </table>
</div>

